.data-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /*center content*/
    align-items: center;
    min-height: 100vh; /*fill page*/
    background: radial-gradient(125% 125% at 50% 90%, #000 40%, #fff 100%); /*for blend*/
}

.light-mode-text {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .light-mode-text {
        color: #fff; 
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-text {
        color: inherit;
    }
}

/*added light mode text coloring*/

@media (max-width: 768px) {

    .data-page {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        overflow: hidden;
    }
}