.footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh; 
    background: radial-gradient(125% 125% at 50% 90%, #000 40%, #63e 100%); /*for blend*/
    padding: 5px 0;
    padding-bottom: 20px;
}

.footer-content {
    text-align: center;
}

.tracks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-bottom: 10px; 
    flex-wrap: wrap;
}

.track-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    border-radius: 10px;
    border: 6px solid transparent;
    transition: all 0.3s ease-in-out;
}

.track-item:hover {
    cursor: pointer;
    scale: 1.2;
}

.track-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.track-image {
    width: 50px; 
    height: auto;
    scale: 0.8;
}

.footer-info {
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link {
    color: #1E90FF;
    text-decoration: none;
    margin: 0 3px;
}

.footer-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .tracks {
        flex-direction: row !important;
        justify-content: center !important; 
        gap: 5px !important;
    }

    .track-item {
        width: 16vh !important;
        padding: 5px;
    }

    .track-title {
        font-size: 0.8rem !important;
    }
    
    .track-image {
        scale: 1;
    }

    .footer-info p {
        font-size: 0.8rem;
    }
    /*i used !important because none of the changes were working due to conflicting track styling, if that gets resolved eventually, those tags can be removed*/
}
