.home-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.home-container {
    width: 100%;
    width: 1000px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: left;
    gap: 1rem;
}
