.home-page {
    overflow-x: hidden;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.light-mode-text {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .light-mode-text {
        color: #fff; 
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-text {
        color: inherit;
    }
}

@media (max-width: 1400px) {

    /*for windows laptops*/
}
/*added light mode text coloring*/


@media (max-width: 768px) {
    .home-page {
        width: 100%;
        height: auto;
    }

    .home-container {
        flex-direction: column;
    }
}