.nav-bar-container {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    width: 100vw;
    position: fixed;
    z-index: 1000000;
    justify-content: center;
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-desktop {
    width: 89vw;
    height: 13.3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 4vw; */
    top: 0;
    padding-right: 4vw;
}

.nav-logo {
    width: 105px;
    height: auto;
    margin-right: 1.4vw;
    cursor: pointer;
    transition: 0.3s;
}

.nav-logo:hover {
    transform: scale(1.15);
    /* box-shadow:0 0 50px #4fc3f7; */

    -webkit-filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}

.nav-link, .nav-link-dark {
    font-size: 1.1vw;
    transition: 0.3s;
    margin: 0 1vw;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
}

.nav-link::before, .nav-link-dark::before {
    content: " { ";
    color: #ffffff;
    opacity: 0;
    padding: 0 7px;
    transition: 0.3s;
    position: relative;
}

.nav-link-dark::after, .nav-link::after {
    content: " } ";
    color: #ffffff;
    opacity: 0;
    padding: 0 7px;
    transition: 0.3s;
    position: relative;
}

.nav-link:hover, .nav-link-dark:hover {
    color: rgb(187, 255, 244);
    transform: scale(1.1);
}

.nav-link:hover::before, .nav-link:hover::after,
.nav-link-dark:hover::before, .nav-link-dark:hover::after {
    opacity: 1;
}

.mlh-trust-badge {
    position: fixed;
    top: -10px;
    right: 3%;
    height: 160px;
}

/* hamburger menu */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    top: 10px;
    padding: 20px;
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
    /*deleted transform cuz not needed, plus keeps menu hidden*/
    z-index: 10;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-right: 10px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgb(0, 0, 0); 
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.light-mode-text {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .light-mode-text {
        color: #fff; 
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-text {
        color: inherit;
    }
}

/*added light mode text coloring*/

@media (max-width: 1400px) {
    .hamburger-menu {
        right: 10px; /*spacing fixes*/
    }
}

@media (max-width: 768px) {

    .nav-link, .nav-link-dark {
        display: none;
    }

    .nav-logo {
        padding-right: 0px;
    }

    #hamburger-nav {
        display: block;
    }
    .hamburger-menu {
        right: 10px; /*more spacing adjustments*/
        margin-bottom: 100px;
        margin-right: 15px;
        /*spacing fixed on hamburger menu*/
    }
    .menu-links {
        scale: 0.85;
        top: 75%;
        left: 35%;
        /*fixed hamburger menu spacing*/
    }

}

@media (max-width: 530px) {

    .menu-links {
        transform: translateX(-50%);
    }
    /*this is my workaround for centering the menu links with the hamburger menu but this could def be better written*/
}
